@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Nabla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h2 {
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  border: 1px solid gainsboro;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  border-style: solid;
  border-color: #f3d5d3;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav .logo img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

nav .logo a {
  color: #0d1b2aff;
  font-weight: 600;
  cursor: default;
}

nav .nav-links {
  display: flex;
  gap: 24px;
  cursor: pointer;
  transition: all 0.15s;
}

nav .nav-links a {
  font-size: 14px;
  color: #606060;
  transition: all 0.3s ease;
}

nav .nav-links a:hover {
  color: #000;
  font-weight: bold;
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 14px;
  height: 32px;
  width: 122px;
  background: #f3d5d3;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

nav button:hover,
.home .left-section .top .buttons button.doc:hover,
.contact .items .item button:hover {
  color: #000;
  background: #fff;
  border-color: #dedede;
}

nav button i {
  font-size: 20px;
}

.home {
  margin-top: 130px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.home .left-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.home .left-section .top h2 {
  font-size: 44px;
  margin-bottom: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.typewriter {
  position: relative;
}

.typewriter::after {
  content: "|";
  position: absolute;
  right: 0;
  color: black;
  background-color: white;
  width: 100%;
  animation: typing 3s steps(28) alternate infinite, line 1s infinite;
}

@keyframes typing {
  to {
    width: 0;
  }
}

@keyframes line {
  50% {
    color: transparent;
  }
}

.home .left-section .top p {
  color: #606060;
  font-size: 18px;
  margin-bottom: 24px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home .left-section .top .buttons {
  display: flex;
  gap: 8px;
}

.home .left-section .top .buttons button.git:hover {
  background: #000;
  color: #fff;
  border-color: transparent;
}

.home .left-section .bottom p {
  font-size: 14px;
  color: #606060;
  margin-bottom: 5px;
}

.home .left-section .bottom .icons {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}

nav button:hover,
.me .left-section .top .buttons button.doc:hover,
.contact .items .item button:hover {
  color: #000;
  background: #fff;
  border-color: #dedede;
}

.me {
  margin-top: 130px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.me > img {
  max-width: 300px;
  width: 40%;
  border-radius: 25px;
}

.me .left-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.me .left-section .top h2 {
  font-size: 44px;
  margin-bottom: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.me .left-section .top-header h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.me .left-section .top p {
  color: #606060;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.me .left-section .top .buttons {
  display: flex;
  gap: 8px;
}

.me .left-section .top .buttons button.git:hover {
  background: #000;
  color: #fff;
  border-color: transparent;
}

.me .left-section .bottom .icons {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}

ol.a {
  list-style-type: decimal;
  color: #606060;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
  height: 100;
  width: auto;
  padding-left: 100;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  padding: 30px;
  background-image: url("assets/bg1.jpeg");
}

.portfolio > p {
  font-size: 14px;
  color: #606060;
  border: 1px solid rgb(99, 99, 99);
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 30px;
  background: #fff;
}

.portfolio .items {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio .items .item {
  margin: 10px auto;
  width: 100%;
  border: 1px solid #b2c2bf;
  border-radius: 16px;
  background: #f1f1f1;
}

.portfolio .items .item .inner {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .items .item .inner img {
  width: 60%;
  height: 400px;
  margin-bottom: 16px;
  border-radius: 12px;
}

.portfolio .items .item .inner a {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.portfolio .items .item .inner p {
  color: #606060;
  font-size: 15px;
  text-align: center;
}

table,
th,
td {
  border: 2px solid #838060;
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: #e8e8e8;
  height: 30;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0efef;
  padding: 30px;
}

.about > p {
  font-size: 14px;
  color: #606060;
  border: 1px solid rgb(99, 99, 99);
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 30px;
  background: #fff;
}

.about > h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 60/100) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 60/100) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

.about .items {
  display: 30px;
  justify-content: center;
  gap: 24px;
}

.about .items .item {
  margin: 10px auto;
  width: 40%;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background: #f1f1f1;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px grey;
}

.about .items .item .inner {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  min-height: 365px;
  justify-items: center;
}

.about .items .item .inner img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 12px;
}

.about .items .item .inner a {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.about .items .item .inner p {
  color: #606060;
  font-size: 15px;
  text-align: center;
}

.main {
  max-width: 1800px;
  margin: auto;
  word-wrap: break-word;
  text-align: center;
}

.family {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #eeeeee;
  padding: 30px;
}

.family > p {
  font-size: 14px;
  color: #606060;
  border: 1px solid rgb(99, 99, 99);
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 30px;
  background: #fff;
}

.row {
  margin: 8px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

/* Content */
.content {
  background-color: #dcdcdc;
  padding: 10px;
  color: #424141;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px rgb(198, 197, 190);
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.rows {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 10px;
}

.gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: #f3d5d3;
  border-radius: 24px 24px 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer p,
footer a {
  font-size: 13px;
  color: #606060;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
}
